import { AppBar, Button, Icon } from 'asap-ui';
import React from 'react';

const <%= componentName %>Demo = () => (
  return (
    <div>
      <AppBar title="基本使用">
        // TODO
      </AppBar>
    </div>
  );
);

export default <%= componentName %>Demo;